.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    background-color: #f8f5eb;
}

.header {
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.shadow-lg {
    width: 650px;
    height: 750px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 20px;
}

.header h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body {
    margin-left: 130px;
    margin-top: 60px;
    display: grid;
    align-content: center;
    gap: 65px;
}

    .card-body .col-1,
    .card-body .col-2 {
        font-size: 23px;
        width: 320px;
        display: flex;
        flex-direction: column;
    }

.form-label {
    margin-bottom: 0px;
    text-align: center;
}

.form-control {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.footer {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    gap: 10px;
    color: white;
}


button {
    padding: 10px 30px;
    border-radius: 5px;
;    font-weight: bold;
}
