@implements IDisposable

@inject NavigationManager NavigationManager

<nav class="navbar">
    <div class="logo-container">
        <img src="Imagenes/logo2.png" alt="Logo" />
        <span class="brand">Hotel Sunset</span>
    </div>
    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/SobreNosotros">Sobre nosotros</a></li>
        <li><a href="/Servicios">Servicios</a></li>
        <li><a href="/Galeria">Galería</a></li>
        <li><a href="/Contactanos">Contáctanos</a></li>
        <li><a href="/Reservas">Reservas</a></li>
         <AuthorizeView Roles="Admin">
            <li><a href="/GestionHotel">Gesti&oacute;n del hotel</a></li>
         </AuthorizeView>
        <li><a href="/Account/Login">Iniciar sesi&oacute;n</a></li>
    </ul>
</nav>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

