.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #b6a579;
    color: #ffffff;
}

.logo-container {
    display: flex;
    align-items: center;
}

    .logo-container img {
        height: 60px;
        width: auto;
        margin-right: 1rem;
    }

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .nav-links li {
        margin: 0 1rem;
    }

    .nav-links a {
        text-decoration: none;
        font-size: 1.3rem;
        color: #ffffff;
        font-weight: bold;
        transition: color 0.3s ease;
    }

        .nav-links a:hover {
            color: #808081;
        }
