@page "/Extras/Create"
@rendermode InteractiveServer
@layout EmptyLayout
@inject ArticulosExtrasSerive articulosExtraSerive
@inject NavigationManager navigationManager
@inject ToastService toastService
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<PageTitle>Create</PageTitle>
<EditForm Model="ArticulosExtras" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="shadow-lg">

            @*Header*@
            <div class="header text-center">
                <h3><strong>Crear articulo extra </strong></h3>
                
            </div>

            @*Body*@
            <div class="card-body">

                @*Descripcion*@
                <div class="col-2 mt-2">
                    <label class="form-label"><strong>Descripci&oacute;n</strong></label>
                    <InputText class="form-control" @bind-Value="ArticulosExtras.Descripcion"></InputText>
                    <ValidationMessage For="(()=> ArticulosExtras.Descripcion)" />
                </div>

                @*Precio*@
                <div class="col-2 mt-2">
                    <label class="form-label"><strong>Precio</strong></label>
                    <InputNumber class="form-control" @bind-Value="ArticulosExtras.Precio"></InputNumber>
                    <ValidationMessage For="(()=> ArticulosExtras.Precio)" />
                </div>

                @*Existencia*@
                <div class="col-2 mt-2">
                    <label class="form-label"><strong>Existencia</strong></label>
                    <InputNumber class="form-control" @bind-Value="ArticulosExtras.Existencia"></InputNumber>
                    <ValidationMessage For="(()=> ArticulosExtras.Existencia)" />
                </div>
            </div>

            @*Footer*@
            <div class="footer text-center">
                <button type="button" class="btn btn-outline-primary" @onclick="() => Volver()"><Icon Name="IconName.Arrow90DegLeft"></Icon> Volver</button>
                <button type="submit" class="btn btn-outline-success"><Icon Name="IconName.Floppy"></Icon> Guardar</button>
            </div>
        </div>
    </div>

</EditForm>
@code {
    public ArticulosExtras ArticulosExtras { get; set; } = new ArticulosExtras();
    public List<ToastMessage> Mensaje { get; set; } = [];
    public void Notificacion(ToastType toastType, string title, string message) => Mensaje.Add(ShowToast(toastType, title, message));

    private ToastMessage ShowToast(ToastType toastType, string title, string message)
    {
        var mensaje = new ToastMessage()
            {
                Type = toastType,
                Title = title,
                HelpText = $"{DateTime.Now.ToString("dd/MM/yyyy")}",
                Message = $"{message}. A las {DateTime.Now.ToString("hh:mm tt")}",
            };
        toastService.Notify(mensaje);
        return mensaje;
    }

    public async Task Guardar()
    {
        if (await Validar())
        {
           Notificacion(ToastType.Warning, "Creación de articulo extra", "Ya existe un articulo extra con esta descripción ");
            return;
        }

        var crear = await articulosExtraSerive.Guardar(ArticulosExtras);

        if (crear)
        {
            Notificacion(ToastType.Success, "Creación de articulo extra", "Se ha creado correctamente ");
            await Task.Delay(1500);
            Volver();

        }

        else
        {
            Notificacion(ToastType.Danger, "Creación de articulo extra", "No se pudo crear el articulo extra ");
        }
    }

    private async Task<bool> Validar()
    {
        var existe = await articulosExtraSerive.ExisteArticuloExtra(ArticulosExtras.ExtrasId, ArticulosExtras.Descripcion);
        return existe;
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/GestionHotel/Extras");
    }
}
