@page "/Extras/Delete/{ExtrasId:int}"
@using System.Globalization
@rendermode InteractiveServer
@layout EmptyLayout
@inject ArticulosExtrasService articulosExtraSerive
@inject NavigationManager navigationManager
@inject ToastService toastService
@attribute [Authorize(Roles = "Admin")]
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<PageTitle>Eliminar</PageTitle>
<div class="container">
    <div class="shadow-lg">

        @*Header*@
        <div class="header text-center">
            <h3><strong>Eliminar un articulo extra</strong></h3>
        </div>

        @*Body*@
        <div class="card-body">
            <div class="text-center mt-3">
                <h5><strong>¿Está seguro de que desea eliminar este articulo extra?</strong></h5>
            </div>
            <ul class="mt-4">
                <li><strong>ExtrasId: </strong>@ArticulosExtras.ExtrasId</li>
                <li><strong>Descripci&oacute;n: </strong>@ArticulosExtras.Descripcion</li>
                <li><strong>Precio: </strong>@ArticulosExtras.Precio.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</li>
                <li><strong>Existencia: </strong>@ArticulosExtras.Existencia</li>
            </ul>
        </div>

        @*Footer*@
        <div class="footer text-end mt-3">
            <button type="button" class="btn btn-outline-primary" @onclick="Volver"><Icon Name="IconName.Arrow90DegLeft"></Icon> Volver</button>
            <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><Icon Name="IconName.Trash"></Icon> Eliminar</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int ExtrasId { get; set; }
    public ArticulosExtras ArticulosExtras { get; set; } = new ArticulosExtras();
    public List<ToastMessage> Mensaje { get; set; } = [];
    public void Notificacion(ToastType toastType, string title, string message) => Mensaje.Add(ShowToast(toastType, title, message));

    protected override async Task OnInitializedAsync()
    {
        ArticulosExtras = await articulosExtraSerive.Buscar(ExtrasId);
    }

    private ToastMessage ShowToast(ToastType toastType, string title, string message)
    {
        var mensaje = new ToastMessage()
            {
                Type = toastType,
                Title = title,
                HelpText = $"{DateTime.Now.ToString("dd/MM/yyyy")}",
                Message = $"{message}. A las {DateTime.Now.ToString("hh:mm tt")}",
            };
        toastService.Notify(mensaje);
        return mensaje;
    }

    private async Task Eliminar()
    {
        var Eliminar = await articulosExtraSerive.Eliminar(ArticulosExtras);

        if (Eliminar)
        {
            Notificacion(ToastType.Success, "Eliminación de articulo extra", "Se ha eliminado correctamente ");
            await Task.Delay(1500);
            Volver();
        }
        else
        {
            Notificacion(ToastType.Danger, "Eliminación de articulo extra", "No se ha podido eliminar el articulo extra ");
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/GestionHotel/Extras");
    }
}
