@page "/TipoHabitacion/Delete/{TipoHabitacionId:int}"
@using System.Globalization
@rendermode InteractiveServer
@layout EmptyLayout
@inject TipoHabitacionService tipoHabitacionService
@inject NavigationManager navigationManager

<PageTitle>Eliminar</PageTitle>
<div class="container">
    <div class="shadow-lg">

        @*Header*@
        <div class="header text-center">
            <h3><strong>Eliminar tipo de habitaci&oacute;n</strong></h3>
        </div>

        @*Body*@
        <div class="card-body">
            <div class="text-center mt-3">
                <h5><strong>¿Está seguro de que desea eliminar este tipo de habitaci&oacute;n?</strong></h5>
            </div>
            <ul class="mt-4">
                <li><strong>TipoHabitacionId: </strong>@TipoHabitaciones.TipoHabitacionId</li>
                <li><strong>Categor&iacute;a: </strong>@TipoHabitaciones.Categoria</li>
                <li><strong>Descripci&oacute;n: </strong>@TipoHabitaciones.Descripcion</li>

            </ul>
        </div>

        @*Footer*@
        <div class="footer text-end mt-3">
            <button type="button" class="btn btn-primary" @onclick="Volver">Volver</button>
            <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
        </div>
    </div>
</div>
@Mensaje
@code {
    [Parameter]
    public int TipoHabitacionId { get; set; }
    public TipoHabitaciones TipoHabitaciones { get; set; } = new TipoHabitaciones();
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        TipoHabitaciones = await tipoHabitacionService.Buscar(TipoHabitacionId);
    }

    private async Task Eliminar()
    {
        var Eliminar = await tipoHabitacionService.Eliminar(TipoHabitaciones);

        if (Eliminar)
        {
            Mensaje = "Se ha eliminado correctamente. ";
            Volver();
        }
        else
        {
            Mensaje = "No se ha podido eliminar. ";
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/GestionHotel/TipoHabitacion");
    }
}
