@page "/TipoHabitacion/Edit/{TipoHabitacionId:int}"
@rendermode InteractiveServer
@layout EmptyLayout
@inject TipoHabitacionService tipoHabitacionService
@inject NavigationManager navigationManager

<PageTitle>Edit</PageTitle>
<EditForm Model="TipoHabitaciones" OnValidSubmit="Editar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="shadow-lg">

            @*Header*@
            <div class="header text-center">
                <h3><strong>Editar tipo de habitaci&oacute;n </strong></h3>
            </div>

            @*Body*@
            <div class="card-body">

                @*Categoria*@
                <div class="col-2 mt-2">
                    <label class="form-label"><strong>Categor&iacute;a</strong></label>
                    <InputText class="form-control" @bind-Value="TipoHabitaciones.Categoria"></InputText>
                    <ValidationMessage For="(()=> TipoHabitaciones.Categoria)" />
                </div>

                @*Descripcion*@
                <div class="col-2 mt-2">
                    <label class="form-label"><strong>Descripci&oacute;n</strong></label>
                    <InputText class="form-control" @bind-Value="TipoHabitaciones.Descripcion"></InputText>
                    <ValidationMessage For="(()=> TipoHabitaciones.Descripcion)" />
                </div>
            </div>

            @*Footer*@
            <div class="footer text-center">
                <button type="button" class="btn btn-primary" @onclick="() => Volver()">Volver</button>
                <button type="submit" class="btn btn-success">Editar</button>
            </div>
        </div>
    </div>
    @Mensaje

</EditForm>
@code {
        [Parameter]
        public int TipoHabitacionId { get; set; }
    public TipoHabitaciones TipoHabitaciones { get; set; } = new TipoHabitaciones();
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        TipoHabitaciones = await tipoHabitacionService.Buscar(TipoHabitacionId);
    }

    public async Task Editar()
    {
        if (await Validar())
        {
            Mensaje = "Ya existe un tipo de habitación con esta categoria.";
            return;
        }

        var crear = await tipoHabitacionService.Guardar(TipoHabitaciones);

        if (crear)
        {
            Mensaje = "Se ha modificado correctamente. ";
            Volver();
        }
        else
        {
            Mensaje = "No se ha podido modificar. ";
        }
    }

    private async Task<bool> Validar()
    {
        var existe = await tipoHabitacionService.ExisteTipoHabitacion(TipoHabitaciones.TipoHabitacionId, TipoHabitaciones.Categoria, TipoHabitaciones.Descripcion);
        return existe;
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/GestionHotel/TipoHabitacion");
    }
}
