@page "/"

<PageTitle>Hotel Sunset</PageTitle>

<div class="container">
    <div class="background-section">
        <div class="text-content">
            <h1>Hotel Sunset</h1>
            <p>
                <strong>Encuentra tu tranquilidad en cada atardecer.</strong>
            </p>
            <a href="/Reservas"
                <button type="button" class="w-90 btn btn-lg btn-secondary">Reserva aqu&iacute;</button>
            </a>
        </div>

    </div>

</div>
<div class="content-section">
    <div class="content-container">
        <div class="card-body">
            <h2><strong>Hotel Sunset</strong></h2>
            <p>
                Es un refugio de serenidad, lujo y vistas inolvidables.
                Diseñado para los amantes de los atardeceres y quienes buscan desconectarse de la rutina, este exclusivo hotel combina arquitectura contemporánea con un ambiente cálido y acogedor.
                Con su lema: <strong>"Encuentra tu tranquilidad en cada atardecer."</strong>, el Hotel Sunset invita a sus huéspedes a vivir experiencias inolvidables rodeados de belleza natural y
                servicio excepcional.
            </p>
        </div>
        <div class="content-imagen">
            <img src="/Imagenes/bandeja.jpg" alt="Hotel Sunset" />
        </div>
    </div>
</div>

<div class="container-prueba">


    <div class="container-inicio">
        <div class="room">
            <img src="/Imagenes/matrimonial1.png" alt="Room Image" class="room-image" />
        </div>
        <div class="features">
            <div class="feature">
                <p>WI-FI GRATUITO</p>
            </div>
            <div class="feature">
                <p>APARCAMIENTO GRATUITO</p>
            </div>
            <div class="feature">
                <p>SPA</p>
            </div>
            <div class="feature">
                <p>RESTAURANTE</p>
            </div>
        </div>
    </div>


    <div class="promo-section">
        <div class="promo-card">
            <h4>Bienvenido a:</h4>
            <h2>Hotel Sunset</h2>
            <p>Un refugio exclusivo, que ofrece habitaciones de lujo en un entorno idílico, perfecto para desconectarse y disfrutar de la naturaleza.</p>
            <a href="/Servicios">
                <button type="button" class="btn btn-light ">Nuestros servicios</button>
            </a>
        </div>
    </div>
</div>

<div class="container-image">
    <div class="text-content-end">
        <h2>Reserva tu habitaci&oacute;n</h2>
        <h4>con entrada al SPA.</h4>
        <p>
            Hotel Sunset - Encuentra tu tranquilidad en cada atardecer.
        </p>
        <p>
            No esperes y haz tu reserva.
        </p>

        <h3>A PARTIR DE</h3>
        <h5>80 USD/D&Iacute;A</h5>

        <div class="boton-reserva">
            <a href="/Reservas"
                <button type="button" class="w-100 btn btn-lg btn-secondary">Reserva aqu&iacute;</button>
            </a>
        </div>
    </div>
</div>

<div class="card-footer mt-5">
    <div class="text-center">
        <h4>© Hotel Sunset | Todos los derechos reservados. </h4>
    </div>

</div>



