@page "/Contactanos"

<div class="content-imagen">
    <div class="contacto-section">
        <div class="contacto-card">
            <h1>Cont&aacute;ctanos</h1>
            <h3>Teléfonos</h3>
            <h6>+1 (829) 775-4149</h6>
            <h6>+1 (849) 883-3143</h6>

            <h3>Email</h3>
            <p>hotelsunset@gmail.com</p>

            <h3>Dirección</h3>
            <p>Punta cana, La altagracia. República Dominicana</p>
        </div>
    </div>
</div>
<div class="card-footer mt-5">
    <div class="text-center">
        <h4>© Hotel Sunset | Todos los derechos reservados. </h4>
    </div>

</div>