@page "/Contactanos"

<div class="card-header mt-2">
    <h1>Cont&aacute;ctanos</h1>
</div>

<div class="contacto-section">
    <div class="contacto-cards">
        <div class=contacto-card mt-5">
            <h3>Tel&eacute;fonos</h3>

            <h6>+1 (829) 775-4149</h6>
            <h6>+1 (849) 883-3143</h6>

        </div>


        <div class="contacto-card mt-5">
            <h3>Email</h3>
            <p>
                <a href="mailto:hotelsunset@gmail.com">hotelsunset@gmail.com</a>
            </p>
        </div>

        <div class="contacto-card mt-5">
            <h3>Direcci&oacute;n</h3>
            <p>
                Punta cana, La altagracia. Rep&uacute;plica Dominicana
            </p>
        </div>
    </div>
</div>

@* <div class="image-container">
    <img src="/Imagenes/checkin.jpg" />
</div> *@