
.habitaciones-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 700px; 
    overflow-y: auto; 
    padding-right: 10px; 
    width: 80%;
    margin-left: 160px;
    margin-top: 200px;

}

.reserva-info {
    display: flex;
    flex-direction: row; 
    gap: 15px; 
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto; 
    margin-right: 290px;

}

.detalles-principales {
    flex: 2; 
    padding-right: 15px; 
    border-right: 2px solid #ddd; 
    padding: 15px; 

}


.informacion-huesped {
    flex: 1;
    text-align: left; 
    padding: 15px; 

}

    .Reserva p,
    .informacion-huesped p {
        color: #555; 
        margin: 2px 0; 
    }

    .Reserva strong,
    .informacion-huesped strong {
        color: #333; 
        margin-bottom: 4px; 
    }


.detalles-principales ul {
    padding-left: 0;
    margin: 10px 0;
    list-style-type: none;
    display: flex; 
    gap: 10px; 
    flex-wrap: wrap; 
}

.detalles-principales li {
    color: #555;
    margin: 0;
    background: none;
    padding: 0; 
    border: none;
    font-weight: normal;
}

.habitacion-image {
    width: 350px; 
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;

}

    .habitacion-image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }


.informacion-huesped{
    margin-left: 0px;

}

    .informacion-huesped h5 {
        margin-bottom: 20px;
        color: #000;
        margin-left: 0; 
        white-space: nowrap;
    }

    .informacion-huesped p {
        margin: 15px 0; 
        color: #555;
        white-space: nowrap;
    }

ul {
    list-style-type: none;
    padding-left: 0;
}

    ul li {
        margin: 5px 0;
    }

.habitaciones-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.habitacion-card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    gap: 15px;
    background-color: #f6f6f6
}

    .habitacion-card:hover {
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    }


.Reserva {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}
