body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*SPA*/
.content-section {
    padding: 50px 20px;
    background-color: #ffff;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.card-body {
    flex: 1;
    text-align: left;
    padding-right: 25px;
}

    .card-body p {
        font-size: 1.2rem;
        line-height: 1.8;
        color: #333;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .card-body h1 {
        font-family: 'Times New Roman', Times, serif;
    }


.content-imagen {
    flex: 1;
    text-align: center;
}

    .content-imagen img {
        max-width: 90%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .content-imagen img:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        }

/*Restaurante*/
.content-section-2 {
    padding: 50px 20px;
    background-color: #ffff;
}

.content-container-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.card-body-2 {
    flex: 1;
    text-align: left;
    padding-right: 25px;
}

    .card-body-2 p {
        font-size: 1.2rem;
        line-height: 1.8;
        color: #333;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .card-body-2 h1 {
        font-family: 'Times New Roman', Times, serif;
    }


.content-imagen-2 {
    flex: 1;
    text-align: center;
}

    .content-imagen-2 img {
        max-width: 90%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .content-imagen-2 img:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        }

/*Piscina*/
.content-section-3 {
    padding: 50px 20px;
    background-color: #ffff;
}

.content-container-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.card-body-3 {
    flex: 1;
    text-align: left;
    padding-right: 25px;
}

    .card-body-3 p {
        font-size: 1.2rem;
        line-height: 1.8;
        color: #333;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .card-body-3 h1 {
        font-family: 'Times New Roman', Times, serif;
    }

.content-imagen-3 {
    flex: 1;
    text-align: center;
}

    .content-imagen-3 img {
        max-width: 90%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .content-imagen-3 img:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        }

/*Texto principal*/
.container-text {
    background-color: #907c4a;
    text-align: center;
}

    .container-text h2 {
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 35px;
    }


/*Servicios extras*/
.servicios-section {
    background-color: #ffffff;
    text-align: center;
    margin: 0 !important;
    padding: 20px 0;
    width: 100%;
    min-height: auto;
    margin-bottom: 50px;
}


.servicios-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    padding: 20px;
}

.servicios-card {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 25px;
    width: 320px;
    height: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .servicios-card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        background-color: #f3f3f3f3;
    }

    .servicios-card h3 {
        font-size: 20px;
        color: #000000;
        margin-bottom: 15px;
        font-weight: 700;
        font-family: 'Times New Roman';
    }

    .servicios-card p {
        font-size: 14.5px;
        color: #000000;
        line-height: 2;
        margin: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


/*Footer*/
.card-footer {
    background-color: #907c4a;
    color: white;
    padding: 40px;
    height: 200px;
    width: 1864px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

    .card-footer p {
        margin: 0;
    }

.text-center h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 40px;
    line-height: 1.8;
}
