@page "/Servicios"

<PageTitle>Servicios</PageTitle>

<div class="content-section">
    <div class="content-container">
        <div class="card-body">
            <h1><strong>SPA</strong></h1>
            <p>
                El Hotel Sunset ofrece una experiencia única de bienestar con su completo spa, diseñado para que los huéspedes se relajen y rejuvenezcan.
                Nuestro spa cuenta con una variedad de masajes terapéuticos, como el masaje de piedras calientes y tratamientos faciales rejuvenecedores, ideales para liberar tensiones
                y mejorar la circulación. Para aquellos que buscan un momento de paz, nuestras zonas de relajación ofrecen un ambiente tranquilo para descansar y desconectar del ajetreo diario.
            </p>
        </div>
        <div class="content-imagen">
            <img src="/Imagenes/spa1.jpg" />
        </div>
    </div>
</div>

<div class="content-section-2">
    <div class="content-container-2">
        <div class="content-imagen-2">
            <img src="/Imagenes/comida.jpg" />
        </div>
        <div class="card-body-2">
            <h1><strong>Restaurante</strong></h1>
            <p>
                El restaurante del Hotel Sunset se destaca por su cocina de alta calidad, que combina lo mejor de la gastronomía internacional con los sabores locales.
                Nuestros chefs preparan una amplia variedad de platillos gourmet utilizando ingredientes frescos y de origen local, lo que garantiza una experiencia culinaria excepcional.
                Ofrecemos un menú degustación que permite a los huéspedes disfrutar de una serie de platos exquisitos.
            </p>
        </div>
    </div>
</div>

<div class="content-section-3">
    <div class="content-container-3">
        <div class="card-body-3">
            <h1><strong>Piscina</strong></h1>
            <p>
                La piscina del Hotel Sunset es un oasis de relajación y diversión diseñado para ofrecer a los huéspedes una experiencia refrescante en un entorno tranquilo y elegante.
                Nuestra piscina invita a disfrutar del sol mientras te relajas con una bebida refrescante. Ya sea que prefieras nadar, descansar a la sombra o simplemente contemplar el atardecer,
                nuestra piscina es el lugar ideal para desconectarte y recargar energías.
            </p>
        </div>
        <div class="content-imagen-3">
            <img src="/Imagenes/psicina.jpg" />
        </div>
    </div>
</div>

<div class="container-text mt-5">
    <h2><strong>Otros servicios</strong></h2>
</div>

<div class="servicios-section">
    <div class="servicios-cards">
        <div class="servicios-card mt-5">
            <h3>Wi-Fi gratuito</h3>
            <p>
                Disfruta de una excelente conexión a internet en cualquier punto de nuestras instalaciones.
            </p>
        </div>

        <div class="servicios-card mt-5">
            <h3>Aparcamiento gratuito</h3>
            <p>
                Disponemos de un gran aparcamiento tanto para coches como autocares.
            </p>
        </div>

        <div class="servicios-card mt-5">
            <h3>Limpieza diaria de habitaciones</h3>
            <p>
                Mantenimiento y organización diaria de la habitación (hacer la cama, cambio de sábanas, limpieza de baño, etc.).
            </p>
        </div>

        <div class="servicios-card mt-5">
            <h3>Sala de Bienestar</h3>
            <p>
                Espacio acogedor con iluminación suave, música relajante, aromas naturales y mobiliario cómodo, diseñado para desconectar y revitalizar cuerpo y mente.
            </p>
        </div>
    </div>
</div>


<div class="card-footer mt-5">
    <div class="text-center">
        <h4>© Hotel Sunset | Todos los derechos reservados. </h4>
    </div>

</div>
