@page "/SobreNosotros"

<PageTitle>Sobre Nosotros</PageTitle>

<div class="content-section">
    <div class="content-container">
        <div class="card-body">
            <h1><strong>Sobre Nosotros</strong></h1>
            <p>
                Desde sus inicios, el hotel se destacó por su atención personalizada, su compromiso con el medio ambiente y su atmósfera única que combina lujo y simplicidad.
                El Hotel Sunset ha evolucionado para convertirse en un destino reconocido internacionalmente, atrayendo a huéspedes de todo el mundo
                que buscan inspiración, relajación y magia en cada puesta de sol.
            </p>
        </div>
        <div class="content-imagen">
            <img src="/Imagenes/pasillo.jpg" alt="SobreNosotros" />
        </div>
    </div>
</div>

<div class="text-content">
    <em><h2><strong>Prop&oacute;sito del hotel</strong></h2></em>
</div>

<div class="about-section">
    <div class="about-cards">
        <div class="about-card mt-5">
            <h3>Visi&oacute;n</h3>
            <p>
                Ser el destino líder en turismo de lujo sostenible, ofreciendo una experiencia única que conecte a
                nuestros huéspedes con la naturaleza, la tranquilidad y la belleza de los atardeceres más impresionantes del mundo.
            </p>
        </div>
        <div class="about-card mt-5">
            <h3>Misi&oacute;n</h3>
            <p>
                Proporcionar a nuestros huéspedes un servicio excepcional, creando recuerdos inolvidables en un entorno que celebra la belleza natural, el lujo consciente y el bienestar.
                Nos comprometemos a ser un modelo de hospitalidad sostenible, respetando el medio ambiente y contribuyendo al desarrollo de la comunidad local.
            </p>
        </div>
        <div class="about-card-valores mt-5">
            <h3>Valores</h3>
            <ul>
                <li>Hospitalidad excepcional</li>
                <li>Sostenibilidad</li>
                <li>Calidez y autenticidad</li>
                <li>Innovación</li>
            </ul>
        </div>
    </div>
</div>

<div class="card-footer mt-5">
    <div class="text-center">
        <h4>© Hotel Sunset | Todos los derechos reservados. </h4>
    </div>

</div>